<!-- TODO: include tooltips.js from javascript assets -->
<script>
$(document).ready(function() {
    $('.tag-tooltip').tooltip();
});
</script>
<p id="notice"><%= notice %></p>

<h1>Feeds</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th />
      <th width="20" />
      <th colspan="3"></th>
    </tr>
  </thead>
<br>
  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= link_to feed.name, entries_path(feed.id) %></td>

        <td><%= feed.description %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>'.html_safe, 
                    feed,
                    class: "tag-tooltip",
                    data: { toggle: "tooltip" },
                    'data-placement': 'top',
                    title: 'Information' %>
        </td>
        <% if logged_in? %>
          <td>
          <% if current_user.subscribed_to(feed) %>
            <%= link_to '<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>'.html_safe, 
                    unsubscribe_feed_path(feed.id), 
                    method: :delete,
                    class: "tag-tooltip", 
                    data: { toggle: "tooltip" }, 
                    'data-placement': 'top', 
                    title: 'Unsubscribe' %>
          <% else %>
              <%= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>'.html_safe, 
                    subscribe_feed_path(feed.id),
                    method: :post,
                    class: "tag-tooltip", 
                    data: { toggle: "tooltip" }, 
                    'data-placement': 'top', 
                    title: 'Subscribe' %>
          <% end %>
          </td>
        <% end %>
        <td><%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>'.html_safe, 
                    feed, 
                    method: :delete, 
                    class: "tag-tooltip",
                    data: { confirm: 'Are you sure?', toggle: "tooltip" },
                    'data-placement': 'top',
                    title: 'Delete' %>
        </td>
        <td><%= if Rails.env.development?
          link_to '<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>'.html_safe, 
                    update_entries_path(feed.id),
                    class: "tag-tooltip",
                    data: { toggle: "tooltip" },
                    'data-placement': 'top',
                    title: 'Update'
                end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>


<%= link_to 'New Feed', new_feed_path, class: 'btn btn-default btn-lg' %>
